@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --primary: #7898FF;
  --secondary: #8E64C5;
  --app-grey: #F2F2F2;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #F6F6F6;
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.spinner {
  position: absolute;
  top: 45%;
  left: 47%;
  width: 4rem;
  height: 4rem;
  border: 16px solid #dfdede; 
  border-top: 16px solid #7898FF;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  z-index: 3;
  visibility: hidden;

}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}